@charset "utf-8";



#tabela{
	margin-top: 30px;
	
}

#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #6d7a92;
	color: #fff;
}

#tabela td {
	border: 1px solid #ddd;
	padding: 10px;
	
	
}

#EspacoID{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #800000;
	
}

 h3{
        text-align: center;
      }